*{margin:0;
  padding: 0}
  body{font-family: '微软雅黑'}
  /*输入框提示文字样式*/
  ::-webkit-input-placeholder { color:rgba(255, 255, 255, 0.3); text-align: center}
  ::-moz-placeholder { color:rgba(255, 255, 255, 0.3); text-align: center} /* firefox 19+ */
  :-ms-input-placeholder { color:rgba(255, 255, 255, 0.3);text-align: center } /* ie */
  input:-moz-placeholder { color:rgba(255, 255, 255, 0.3); text-align: center}
